<%= form_for @team, remote: true do |f| %>
	<%= f.number_field :seed, placeholder: '#', class:'col-sm-2 input-xs', style:'padding:0' %>
	<%= f.text_field :name, placeholder: 'team name', class:'col-sm-8 input-xs', style:'padding:0' %>
	<%= f.hidden_field :slot_id, value: slot.id %>
	<span class="input-group-btn">
		<%= f.submit 'GO', class:'btn btn-primary btn-xs', style:'padding:0; height:24px;' %>
	</span>
<% end  %>